TELEGRAM_TOKEN="token"
DATABASE_URL="postgresql+psycopg2://reminder:reminder_pass@reminder_db:5432/reminds_db"
ADMIN_CHAT_ID='chat_id'
# If enabled, detailed logging will be on. Set to True to enable
DEBUG=